---
import Layout from '../layouts/Layout.astro';
import {Auth} from '../../../controller/auth.js'
const auth = new Auth()

---

<Layout title="Welcome to simple auth">
	<form>
		<!-- Grid -->
		<div class="grid">
	
			<label for="username">
				Username
				<input type="text" id="firstname" name="firstname" placeholder="First name" required>
			</label>
	
			<label for="password">
				Password
				<input type="text" id="lastname" name="lastname" placeholder="Last name" required>
			</label>
	
		</div>

		<button type="submit">Sign in</button>
	
	</form>
</Layout>
